{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url"           content="https://coronatraveler.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Corona Traveler" />
    <meta property="og:description"   content="Interactive map of coronavirus travel restrictions, check out where you can travel this summer!" />
    <meta property="og:image"         content="https://www.coronatraveler.com{% static 'meta2.png' %}" />

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon'/ >

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169393478-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169393478-1');
    </script>


    {% block extrahead %}{% endblock %}
</head>

<body class="bg-secondary">

    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary shadow">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="" />
                <b> Corona Traveler</b>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#feedback" data-toggle="modal">Feedback</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#privacy" data-toggle="modal">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="bg-gradient-primary text-white">
        <div class="container py-4">
            <p class="my-0">Made by <a href="https://github.com/FillipdotS">Fillip Serov</a></p>
        </div>
        <div class="bg-gradient-secondary">
            <div class="container py-1">
                © 2020 Fillip Serov
            </div>
        </div>
    </footer>

    <!-- Feedback Modal -->
    <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedback" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="feedback-portal"></div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Privacy Modal -->
    <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacy" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Privacy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This website uses analytics to collect information about your use of the site to help create reports and statistics on the performance of the site. Analytics collect information such as your IP address, type of device, operating system, referring URLs, country information, date and time of page visits. Google Analytics is used on this site and all collected data is stored by them, and them alone.
                    <br><br>
                    To opt out of Google Analytics, click <a href="https://tools.google.com/dlpage/gaoptout?hl=en">here.</a>
                    <hr>
                    This website also implements social media plugins which may include their own cookies. These plugins allow you to quickly and easily share this websites content on social media. Listed below are the social media plugins used on this website.<br>
                    Facebook - click <a href="https://www.facebook.com/help/www/203587239679209">here </a><br>
                    Twitter - click <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">here </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

     <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;
    }(document, "script", "twitter-wjs"));</script>
</body>

</html>